.div_signup{

}

.Avt{
    position: absolute;
width: 527px;
height: 734px;
left: 332px;
top: 244px;

border-radius: 212px;
}

.dangky{
    position: absolute;
width: 445px;
height: 121px;
left: 1163px;
top: 287px;

font-family: UTM Davida;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 93px;
text-align: center;

color: #F4D58D;
}

.tentk{
    
}