.div_home {
  background-image: url("../../image/home.png");
  width: 100vw;
  position: absolute;
  height: 1037.55px;
  left: -0.27px;
  top: 0.45px;
  transform: rotate(-0.02deg);
}

.h1_home {
  position: absolute;
  width: 692px;
  height: 205.2px;
  left: 593.47px;
  top: 341.95px;

  font-family: "UTM Davida";
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 181px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;

  transform: rotate(-0.16deg);
}

.p_home {
  position: absolute;
  width: 692px;
  height: 291.02px;
  left: 593.74px;
  top: 439.93px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  transform: rotate(-0.16deg);
}

.btn_home {
  position: absolute;
  width: 302.42px;
  height: 93.13px;
  left: 763.8px;
  top: 637.36px;

  font-family: "SVN-Aptima";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;

  transform: rotate(-0.16deg);
}

.img_gom1 {
  position: absolute;
  width: 339.94px;
  height: 635px;
  left: 397.94px;
  top: 267px;
  background-blend-mode: lighten;
  filter: drop-shadow(53px 4px 47px rgba(0, 0, 0, 0.3));
}

.text_gomsubattrang {
  position: absolute;
  width: 429.49px;
  height: 114px;
  left: 869.86px;
  top: 450px;

  font-family: UTM Davida;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
  display: flex;
  align-items: center;

  color: #f4d58d;
}

.p_sec2 {
  position: absolute;
  width: 607.89px;
  height: 103px;
  left: 869.86px;
  top: 528px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.btn_xemthem {
  position: absolute;
  width: 181.21px;
  height: 96px;
  left: 872.68px;
  top: 616px;

  font-family: SVN-Aptima;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.btn_sanpham {
  position: absolute;
  width: 239.96px;
  height: 96px;
  left: 1104.82px;
  top: 616px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.nguongoc {
  position: absolute;
  width: 344.87px;
  height: 74px;
  left: 574.86px;
  top: 1345.09px;

  font-family: UTM Davida;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #f4d58d;
}

.p_nguongoc {
  position: absolute;
  width: 709.73px;
  height: 379px;
  left: 210px;
  top: 1286.83px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
}

.btn_xemthem {
  position: absolute;
  width: 181.16px;
  height: 95.23px;
  left: 738.53px;
  top: 1558.64px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.img_nguocgoc {
  position: absolute;
  width: 859px;
  height: 574px;
  left: 1061px;
  top: 1180px;
}
